backend/venv/
backend/__pycache__/
backend/database/db-data/
backend/database/__pycache__/
backend/database/models/__pycache__/
backend/log
backend/test.ipynb
# backend/local_config.json
**/__pycache__/
# backend/database/start_db_docker-compose.yml
storage/
backend/database/docker-db/

# github_token.txt

frontend/node_venv/
frontend/build/
frontend/prod_build**/