backend/venv/
backend/__pycache__/
backend/database/db-data/
backend/database/__pycache__/
backend/database/models/__pycache__/
backend/log
backend/test.ipynb
backend/config.py
**/__pycache__/
backend/database/start_db_docker-compose.yml
backend/config.py
storage/
backend/database/docker-db/

# github_token.txt

frontend/node_venv/