backend/venv/
backend/database/db-data/
backend/log
backend/test.ipynb
# backend/local_config.json
**/__pycache__/
# backend/database/start_db_docker-compose.yml
storage/
backend/database/docker-db/

github_token.txt
scripts.txt

frontend/node_venv/