[Unit]
Description=DMS backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/personal/DoMaSystem/backend
Environment="PATH=/home/ubuntu/personal/DoMaSystem/backend/venv/bin"
ExecStart=/bin/bash /home/ubuntu/markitone/markitone-custom-company/backend/run.sh


[Install]
WantedBy=multi-user.target


#########################################################


[Unit]
Description=DMS frontend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/personal/DoMaSystem/frontend
Environment="PATH=/home/ubuntu/.nvm/versions/node/v17.3.0/bin"
ExecStart=/home/ubuntu/.nvm/versions/node/v17.3.0/bin/serve -s build -l 3008


[Install]
WantedBy=multi-user.target

