[Unit]
Description=DMS backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/DoMaSystem/backend
Environment="PATH=/home/ubuntu/DoMaSystem/backend/venv/bin"
ExecStart=/bin/bash /home/ubuntu/DoMaSystem/backend/run.sh


[Install]
WantedBy=multi-user.target


#########################################################


[Unit]
Description=DMS frontend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/DoMaSystem/frontend
Environment="PATH=/home/ubuntu/DoMaSystem/frontend/node_venv/bin"
ExecStart=/home/ubuntu/DoMaSystem/frontend/node_venv/bin/serve -s build -l 3008


[Install]
WantedBy=multi-user.target

