.detailLoaiCongVan{
    width: 550px;
}
.loaiCongVanDetailItem{
    padding: 15px;
}

.loaiCongVanDetailItem>label{
    margin-right: 5px;
    font-size: 15px;
    padding: 1px 0px;
    color: #1f1f1f;
}

.loaiCongVanDetailItem>input{
    width: 100%;
    height: 30px;
    box-shadow: none;
    font-size: 15px;
}