.detailLoaiCongVan{
    width: 550px;
}
.loaiCongVanDetailItem{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.loaiCongVanDetailItem>label{
    margin-right: 5px;
    font-size: 15px;
    padding: 1px 0px;
    color: #1f1f1f;
}

.loaiCongVanDetailItem>input{
    width: 100%;
    height: 30px;
    box-shadow: none;
    font-size: 15px;
}

.loaiCongVanDetailItem>textarea{
    width: 100%;
    height: 90px;
    box-shadow: none;
    font-size: 15px;
    resize: none;
    overflow: scroll;
}

.chi-tiet-loai-cong-van-popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    background-color: #FFF;
    overflow: scroll;
    top: 45px;
}