.edit-chuc-vu-popup-inner{
    position: relative;
    padding: 32px;
    width: fit-content;
    background-color: #FFF;
    overflow: scroll;
    top: 145px;
}

.edit-chuc-vu{
    width: 550px;
}

.chuc-vu-edit-Item{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.chuc-vu-edit-Item>label{
    margin-right: 5px;
    font-size: 15px;
    padding: 1px 0px;
    color: #1f1f1f;
}

.chuc-vu-edit-Input{
    width: 97%;
    height: 30px;
    box-shadow: none;
    font-size: 15px;
    padding-left: 10.5px;
}

.chuc-vu-edit-ButtonSubmit{
    cursor: pointer;
    background-color: #ff9b44;
    border: 1px solid #ff9b44;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
    color: white;
}