.Calendar{
    flex: 5;
    padding: 20px;
    height: 500px;
    position: sticky
}

.calendar-title{
    padding: 10px;
    text-align: center;
}

.event-notify{
    top: 4em !important;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
    display: none;
}

.rbc-button-link {
    pointer-events: none;
}