.userList{
    flex: 5;
    position: sticky;
    top: 60px;
}

.userListTitle{
    padding: 10px;
    text-align: center;
}

.userAddButton{
    border: 1px solid #ff9b44;
    padding: 5px;
    background-color: #ff9b44;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: block;
    margin: 10px 10px 10px auto;
    font-weight: 500;
    min-width: 140px;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.userListInfo{
    color: #3bb077;
    margin-right: 20px;
}

.MuiButton-startIcon{
    margin-right: 5px !important;
    margin-bottom: 4px !important;
}

.add-user-notify{
    top: 4em !important;
}