.modal-title{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.userAddItem{
    display: flex;
    flex-direction: column;
}

.userAddItem>label{
    margin-right: 5px;
    font-size: 15px;
    padding: 1px 0px;
    color: #1f1f1f;
}

.userAddInput{
    width: 252px;
    height: 30px;
    box-shadow: none;
    font-size: 15px;
}

.modal-footer{
    text-align: center;
    margin-top: 40px;
}

.userAddButtonSubmit{
    cursor: pointer;
    background-color: #ff9b44;
    border: 1px solid #ff9b44;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
    color: white;
}
