.congVanDiList{
    flex: 5;
    position: sticky;
    top: 60px;
}

.congVanDiListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.congVanDiListDelete{
    color: red;
    cursor: pointer;
}