.user{
    flex: 5;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileEdit{
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
}

.userContainer{
    display: flex;
}

.userTitleContainerIcon{
    cursor: pointer;
}

.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin: 30px;
}

.card-title {
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 600;
}

.userShowTop {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userShowImg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
    font-size: 30px;
}

.userShowUserCode{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.userShowUserDateOfJoined{
    color: #8e8e8e;
    font-size: 14px;
}

.userShowBottom{
    margin-left: 20px
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    color: #444;
}

.userJobTitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.title{
    color: #4f4f4f;
    font-weight: bold;
    margin: 20px 0px;
}
.column1 {
    float: left;
    width: 20%;
}

.column2 {
    float: left;
    width: 80%;
}

.userShowInfoTitle{
    margin: 20px 0px;
}

.userShowInfoTitle:empty{
    height: 20px;
}

.userShowJobColumn1{
    width: 50%;
}

.userShowJobColumn11{
    float: left;
    width: 20%;
}

.userShowJobColumn12{
    float: left;
    width: 80%;
}
@media only screen and (max-width:1366px) {
    .column1{
        width: 30%;
    }
    .column2{
        width: 70%;
    }
    .userShowJobColumn11{
        width: 25%;
    }
    .userShowJobColumn12{
        width: 75%;
    }
}

