.delete-popup-main {
    position: fixed;
    top: 30%;
    left: 30%;
    /* width: 40%;
    height: 40%; */
    /* backdrop-filter: blur(5px); */
    background-color: #f4f4f4;
    border-style: groove;
    /* display: flex; */
    justify-content: center;
    align-items: baseline;
    /* overflow: scroll; */
    padding: 4% 4% 4% 4%;
  }