.AddCVDi{
    flex: 5;
    position: sticky;
    top: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.add-cvdi-popup-inner{
    width: 100%;
}

.add-cong-van-di-form{
    flex: 5;
    padding: 20px;
    height: 100vh;
    position: sticky;
    overflow: scroll;
}

.cong-van-di-add-body-column-1{
    float: left;
    padding: 20px 20px 0 20px;
    width: 50%;
}

.cong-van-di-add-body-column-2{
    float: left;
    padding: 20px 20px 0 20px;
    width: 50%;
}